.cartao {
    background-color: var(--fundo);
    border-radius: 20px;
    margin-top: 50px;
    width: 1500px;
    height: 850px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cabecalho {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 25%;
}


.foto {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.contato {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;

}

a {
    text-decoration: none;
    color: black;
}

.contato a {
    color: var(--cabecalho);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.contato a:hover {
    color: var(--hover);
}

.cartao .infos {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, 318px);
    width: 100%;
    height: 75%;
}

.cartao .infos .sobre {
    color: var(--texto);
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items:center;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    box-shadow: var(--hover) 0px 10px 50px;
    grid-area: 1 / 1 / 1 / 1;
}

.cartao .infos .skills {
    color: var(--texto);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    margin: 10px;
    padding: 30px;
    box-shadow: var(--hover) 0px 10px 50px;
    grid-area: 2 / 1 / 2 / 1;
}

.cartao .infos img {
    max-width: 100%;
    height: auto;
}

.cartao .infos  h1{
    color: var(--texto);
}

.cartao .infos span {
    font-size: 15px;
}

.youtube {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--hover) 0px 10px 50px;
}

.profile {
    color: var(--texto);
    margin: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--hover) 0px 10px 50px;
}

.picture {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--hover) 0px 10px 50px;
}

.menu {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: var(--hover) 0px 10px 50px;
}

.cartao .infos .youtube:hover {
    box-shadow: var(--links) 0px 10px 50px;
}

.cartao .infos .profile:hover {
    box-shadow: var(--links) 0px 10px 50px;
}

.cartao .infos .picture:hover {
    box-shadow: var(--links) 0px 10px 50px;
}

.cartao .infos .menu:hover {
    box-shadow: var(--links) 0px 10px 50px;

}